{% if template == 'product' and product.vendor == 'zestard-easy-donation' %} 
<div class='donation' id='zeVaIcOHJQ1XQ' page='product' productid='{{ product.id }}'>
	<div class='donation_loader'>
		<img class="lazyload hs-lazyload hs-id-01b6ec73" data-src="https://zestardshop.com/shopifyapp/easy_donation/public/image/loader_new.svg" height="130" width="130"/>
	</div>
</div>
{% endif %}
{% if template == 'cart' %}
<div class='donation' id='zeVaIcOHJQ1XQ' page='cart'>
	<div class='donation_loader'>
		<img class="lazyload hs-lazyload hs-id-01b6ec73" data-src="https://zestardshop.com/shopifyapp/easy_donation/public/image/loader_new.svg" height="130" width="130"/>
	</div>
</div>
{% endif %}<script src="https://zestardshop.com/shopifyapp/easy_donation/public/js/donation.js"></script>
