<div style="margin-top: 50px;"></div>
{% assign heading = 'Get Free 2-Day Shipping When You Add Another Pack' %}
{% assign limit = 4 %}
<div class="page-width product-recommendations" data-product-id="{{ product.id }}" data-limit="{{ limit }}" data-section-id="{{ section.id }}" data-section-type="product-recommendations">
  
      <div class="section-header text-center">
        <h2 class="sec-title">{{ heading }}</h2>
      </div>
      <ul class="grid grid--uniform grid--view-items">
            {% for product in collections.recommended.products %}
        {% if product.tags contains  'recommended' %} 
          <li class="grid__item small--one-half medium-up--one-quarter">
            {% include 'product-card-grid', max_height: 250 %}
          </li>
        {% endif %}
        {% endfor %}
      </ul>

</div>